@model List<EspelhoDeClasse.Dominio.Espelho>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="~/Content/css/estilo.css" rel="stylesheet" />
</head>

@{var edicao = "2017-1"; }

<body>
    <div class="container">
        <div class="espelho">
            <div class="titulo">Projeto Crescer @edicao</div>

            <div class="posicao aluno"><span>@(Model[0].espelho[0])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[0]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[1])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[1]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[2])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[2]).jpg" alt="" /></div>
            <div class="posicao vazia"></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[3])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[3]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[4])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[4]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[5])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[5]).jpg" alt="" /></div>

            <div class="posicao aluno"><span>@(Model[0].espelho[6])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[6]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[7])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[7]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[8])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[8]).jpg" alt="" /></div>
            <div class="posicao vazia"></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[9])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[9]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[10])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[10]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[11])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[11]).jpg" alt="" /></div>

            <div class="posicao aluno"><span>@(Model[0].espelho[12])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[12]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[13])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[13]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[14])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[14]).jpg" alt="" /></div>
            <div class="posicao vazia"></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[15])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[15]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[16])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[16]).jpg" alt="" /></div>
            <div class="posicao aluno"><span>@(Model[0].espelho[17])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[17]).jpg" alt="" /></div>

            <div class="ultima-fileira">
                @*Os últimos alunos ficam na última fileira. Mas atenção, só cabem 7 aqui, 
                portanto se o array de alunos tiver mais do que 25 posições o layout ficará quebrado*@
                @for (int i = 18; i < Model[0].espelho.Length; i++)
                {
                    <div class="posicao aluno"><span>@(Model[0].espelho[i])</span><img src="~/Content/images/fotos-@edicao/@(Model[0].espelho[i]).jpg" alt="" /></div>
                }
            </div>
        </div>
        <img class="imagem-fundo" src="~/Content/images/fundos/rock-n-roll-racing.jpg" />
    </div>

    <script>
        var espelho = @Html.Raw(Json.Encode(Model.First().espelho));
        console.log(@Html.Raw(Json.Encode(Model.First())));
        console.log(@Html.Raw(Json.Encode(Model.Last())));
    </script>
</body>

</html>
